# Xcode user-specific files
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Exclude all user data within the project file
Ribbit.xcodeproj/xcuserdata/
Ribbit.xcodeproj/project.xcworkspace/xcuserdata/

